@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    color: #000;
}
html{
    scroll-behavior: smooth;
}
body {
    background: #f3f4f5;
}

.navbar {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 5em;
    padding: 32px 0px;
    background-color: #ffffff;
    width: 75%;
    margin: auto;
}

.navbar-img > img {
    width: 100px;
}

.nav-item {
    font-size: large;
    font-weight: 600;
}

.nav-item::after {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 3px;
    background: red;
    transform: scaleX(0);
    transition: transform 0.1s ease-in-out;
}

.nav-item:hover::after {
    transform: scaleX(1);
}






.container {
    background-color: #ffffff;
    width: 75%;
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-products {
    background-color: #ffffff;
    width: 75%;
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-products > h1 {
    justify-self: flex-start;
    margin-top: 2em;
}


.container-img-pc {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 5em;
}

.container-img-pc img {
    width: 200px;
}

.container-pc{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
}

.container-pc img{
    width: 350px;
}

.container-products-pc{
    display: flex;
}




.br{
    margin-top: 5em;
    margin-bottom: 5em;
}





.button{
    padding: 16px 32px;
    background-color: #CACBCD;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    transition: 0.35s;
    border: none;
}
.button:hover{
    background-color: red;
    color: white;
}

.container-btn{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-btn a{
    margin: 7px;
}




#progress{
    background-color: red;
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: white;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #000;
}






#Hades {
    display: flex;
    align-items: center;
    padding: 5em;
}

#Hades img{
    width: 350px;
    margin-left: 3em;
}

#Hades p{
    margin: 50px;
    font-size: large;
}





#Zeus {
    display: flex;
    align-items: center;
    padding: 5em;
}

#Zeus img{
    width: 350px;
    margin-left: 3em;
}

#Zeus p{
    margin: 50px;
    font-size: large;
}





#Hephaestus {
    display: flex;
    align-items: center;
    padding: 5em;
}

#Hephaestus img{
    width: 350px;
    margin-left: 3em;
}

#Hephaestus p{
    margin: 50px;
    font-size: large;
}





#Helios {
    display: flex;
    align-items: center;
    padding: 5em;
}

#Helios img{
    width: 350px;
    margin-left: 3em;
}

#Helios p{
    margin: 50px;
    font-size: large;
}





#Ares {
    display: flex;
    align-items: center;
    padding: 5em;
}

#Ares img{
    width: 350px;
    margin-left: 3em;
}

#Ares p{
    margin: 50px;
    font-size: large;
}





#Poseidon {
    display: flex;
    align-items: center;
    padding: 5em;
}

#Poseidon img{
    width: 350px;
    margin-left: 3em;
}

#Poseidon p{
    margin: 50px;
    font-size: large;
}
